/* Variables */

:root {
  --clr-white: hsla(0, 0%, 100%, 0.75);
  --clr-gray: hsl(0, 0%, 95%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-primary-1: hsl(31, 77%, 52%);
  --clr-primary-2: hsl(184, 100%, 22%);
  --clr-primary-3: hsl(179, 100%, 13%);

  --ff-cursive: 'Big Shoulders Display', cursive;
  --ff-sans: 'Lexend Deca', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}
